

a. hover {color: pink;}
nav.home ul {list-styles-type; none:
min-height:100px
backgroung-color:antiquewhite:
min-width 500px}

.header {display:grid;grid-template-columns:40% 60%; font-family:font-size: 100px;
:; color: transparent;-webkit-text-stroke-width: 
2px;-webkit-text-stroke-color:black; }
