.intro { border: 20px;
  background-color: #ffd000;
  text-align: left;
  padding: 30px;
  margin: ;
  color: #fff;
font-family: 'Righteous';
font-size: 18px}


p { border: 20px;
  background-color: #47AFC2;
  text-align: left;
  padding: 30px;
  margin: ;
  color: #fff;
font-family: 'Righteous';
font-size: 18px}


.topnav {background-color:#ffd000 ;
overflow: hidden;}


.topnav a { float: center;
background-color:#ffd000;
color: ;
text-align: center;
padding: 20px 16px
font-size:20px;
list-style: none;
 }
 .subnav1 {background-color:#B3DBE2 ;
overflow: hidden;}


.subnav1 a { float: center;
background-color:#B3DBE2;
color: ;
text-align: center;
padding: 20px 16px
font-size:20px;
list-style: none;
 }
.subnav1 li {display: inline-block;
padding: 20px 10px 20px 10px;
float: center;}



.subnav1 li a {text-decoration: none;
color: white}


.subnav1 li {font-family: "Righteous", sans-serif;
color: #fff;
font-size: 16px}

.car { list-styles-type; none:
	background-color:#47AFC2;
min-height:25px;
min-width: 100px;
padding: 20px 15px 20px 0px;}
.car {background-color:#47AFC2 ;
overflow: hidden;}


.car a { float: center;
background-color:#47AFC2;
color: ;
text-align: center;
padding: 20px 16px
font-size:20px;
list-style: none;
 }

.car { list-styles-type; none:
	background-color:#47AFC2;
min-height:25px;
min-width: 100px;
padding: 20px 15px 20px 0px;}



li {display: inline-block;
padding: 20px 10px 20px 10px;
float: center;}



li a {text-decoration: none;
color: white}


li {font-family: "Righteous", sans-serif;
color: #fff;
font-size: 16px}

  @import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }
  


html, body {
  height: ;
  }
  body {background-size: 1240px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1528967310676-14f901f25d02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
   background-repeat: no-repeat;
   background-size: cover;
    }
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 50%;
    }
  
h1 {
  display: inline-block;
  color: hsla(48, 100%, 63% );
  font-family: 'Righteous', serif;
  font-size: 12em; 
  text-shadow: .03em .03em 0 #ffd000;
  }
    h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(90,20%,90%,1) 45%,
        hsla(90,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 25s linear infinite;
    }
    @keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }
  .hummas *, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }
  .hum html, body {
    height
  }
  .hum {background-size: 1240px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1476681227192-05dedd2b6709?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); ;
   background-repeat: no-repeat;
   background-size: cover;
    }

     body .hum :before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 50%;
    }
  
  .hummas {
  display: inline-block;
  color: hsla(189, 50%, 48% );
  font-family: 'Righteous', serif;
  font-size: 12em; 
  text-shadow: .03em .03em 0 #215A63;
  }

    h1 .hummas :after {
    content: attr(data-shadow);
    position: ;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(189, 50%, 100%) 45%,
        hsla(90,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 25s linear infinite;
    }

 .hum @keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }







.first {font-family: "rubic", sans-serif;
background-color: #fff;
padding: 20px 0px 20px 0px }


.sec {background-color: #D1DBDA;
{font-family: "rubic", sans-serif;
padding: 20px 0px 20px 0px}


.sub {font-family: "rubic", sans-serif;
font-size: 60px;
border: 3px }

.container {
  position: relative;
  text-align: center;}

  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}








 @import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }
  


html, body {
  height: ;
  }
  body.girls {background-size: 1240px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1493772940784-82c65699f053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
   background-repeat: no-repeat;
   background-size: cover;
    }
  body .girls :before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 50%;
    }
  
h1 .good {
  display: inline-block;
  color: #B3DBE2;
  font-family: 'Righteous', serif;
  font-size: 12em; 
  text-shadow: .03em .03em 0 #9EA4A5;
  }
    h1 .good :after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(90,20%,90%,1) 45%,
        hsla(90,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 25s linear infinite;
    }
   .girls @keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }




  .parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 7fr 3fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }




 @import url(https://fonts.googleapis.com/css?family=Righteous);

.center1 *, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }
  


 html, body .center1 {
  height: ;
  }
  body .center1 {background-size: 1240px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1532925463008-706a2f643291?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
   background-repeat: no-repeat;
   background-size: cover;
    }
  body .center1 :before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 50%;
    }
  
h1 .center1 {
  display: inline-block;
  color: #FF7C00;
  font-family: 'Righteous', serif;
  font-size: 12em; 
  text-shadow: .03em .03em 0 #F1431C;
  }
   h1 .center1 :after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(90,20%,90%,1) 45%,
        hsla(90,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 25s linear infinite;
    }